<!-- 

    
  

  <mat-card class="about-card">
    <mat-card-header>
        <div class="banner">
            <img src="../../../../assets/images/about-us-banner.jpg" alt="About Us Banner">
            
          </div>
      <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Welcome to our online learning platform, where we believe in empowering learners of all ages and backgrounds.
        Our courses are designed to provide high-quality education that is both engaging and accessible, helping you reach
        your full potential. Whether you're looking to enhance your skills, start a new career, or explore a new hobby, we've got
        you covered with expert-led courses across various fields.
      </p>
      <p>
        Our mission is to provide a diverse range of educational opportunities, empowering you with the knowledge and skills
        needed to succeed in today’s ever-changing world. We are committed to creating a learning environment where you feel
        inspired, motivated, and supported every step of the way.
      </p>
      <p>
        Join us today and start your journey towards personal and professional growth!
      </p>
    </mat-card-content>
  </mat-card>
   -->

   <!-- באנר בראש הדף -->
  <div class="banner">
    <img src="assets/images/background2.png" alt="About Us Banner">
    <div class="banner-text">
      <h1>About Us</h1>
    </div>
  </div>
  
  <!-- כרטיס עם תוכן -->
  <mat-card class="about-card">
    <mat-card-content>
      <p>
        Welcome to our online learning platform, where we believe in empowering learners of all ages and backgrounds.
        Our courses are designed to provide high-quality education that is both engaging and accessible, helping you reach
        your full potential. Whether you're looking to enhance your skills, start a new career, or explore a new hobby, we've got
        you covered with expert-led courses across various fields.
      </p>
      <p>
        Our mission is to provide a diverse range of educational opportunities, empowering you with the knowledge and skills
        needed to succeed in today’s ever-changing world. We are committed to creating a learning environment where you feel
        inspired, motivated, and supported every step of the way.
      </p>
      <p>
        Join us today and start your journey towards personal and professional growth!
      </p>
    </mat-card-content>
  </mat-card>
  